<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Project batch2</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="656eb2">  <td>20/02/13 09:30:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="activities_14.AddNewUser()[pri:0, instance:activities.activities_14@7a30d1e6]">AddNewUser</td> 
  <td>main@134310351</td>   <td></td> </tr>
<tr bgcolor="656eb2">  <td>20/02/13 09:29:55</td>   <td>-8892</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;activities_14.BrowseOpen()[pri:0, instance:activities.activities_14@7a30d1e6]">&gt;&gt;BrowseOpen</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@134310351</td>   <td></td> </tr>
<tr bgcolor="656eb2">  <td>20/02/13 09:30:23</td>   <td>18245</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;activities_14.browseclose()[pri:0, instance:activities.activities_14@7a30d1e6]">&lt;&lt;browseclose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@134310351</td>   <td></td> </tr>
<tr bgcolor="656eb2">  <td>20/02/13 09:30:04</td>   <td>76</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="activities_14.login(java.lang.String, java.lang.String)[pri:0, instance:activities.activities_14@7a30d1e6]">login</td> 
  <td>main@134310351</td>   <td></td> </tr>
</table>
