<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80b678">  <td>20/02/13 09:27:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="activities_14.AddNewUser()[pri:0, instance:activities.activities_14@23faf8f2]">AddNewUser</td> 
  <td>main@1227074340</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/02/13 09:26:56</td>   <td>-15711</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;activities_14.BrowseOpen()[pri:0, instance:activities.activities_14@23faf8f2]">&gt;&gt;BrowseOpen</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1227074340</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/02/13 09:27:37</td>   <td>25384</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;activities_14.browseclose()[pri:0, instance:activities.activities_14@23faf8f2]">&lt;&lt;browseclose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1227074340</td>   <td></td> </tr>
<tr bgcolor="80b678">  <td>20/02/13 09:27:11</td>   <td>55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="activities_14.login(java.lang.String, java.lang.String)[pri:0, instance:activities.activities_14@23faf8f2]">login</td> 
  <td>main@1227074340</td>   <td></td> </tr>
</table>
